*, *:before, *:after {
  box-sizing: border-box;
}

.arrow {
  float: right;
  padding-top: 6px;
}

body {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.content {
  display: inline-block;
  width: 90%;
}

h1 {
  font-size: 1.7em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
}

.location {
  background-color: #DADADC;
  border: 1px solid gray;
  padding: 16px 24px;
}

.location:hover {
  background-color: #919191;
}

nav {
  background-color: #000000;
  margin: 0 auto;
  padding: 16px 0 16px 16px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
}
